Lena.PNG
movies/
Results/
Results archive/
test_fft.rtf
values.3D
.DS_Store
1d_fourier.py
lena_bw.bmp
pic_archive/
Smoosh.bmp
gaussianSmoothedResults/
fourierResults/
greensFunction.3D
pmHeader.pyc
Potentialresults/
seeDisplacementDistribution.txt