Lena.PNG
movies/
Results/
Results archive/
test_fft.rtf
values.3D
.DS_Store
1d_fourier.py
lena_bw.bmp
pic_archive/
Smoosh.bmp
gaussianSmoothedResults/
fourierResults/
greensFunction.3D
pmHeader.py
pmHeader.pyc
Potentialresults/
seeDisplacementDistribution.txt
greensTest.py
lena.bmp
pmClass.pyc
pmCore.pyc
pmDebug.pyc
pmHelpers.pyc
pmInitialisation.pyc
pmHelper.py
test.py
grafic/
grafic-2.101.tar.gz
grafic-2_101/
grafic.tgz
Results404040/
Results505050/
energyResults.txt
DensityResults/